<div class="row">
  <button id="step1" routerLink="">Step 1</button>
  <button id="step2"
    [routerLink]="'step2/' + currentModelWithImg().selectedModel?.code"
    [disabled]="currentModelWithImg().selectedModel === undefined">Step 2</button>
  <button id="step3" [routerLink]="'step3'"
    [disabled]="currentModelWithImg().selectedModel === undefined || currentModelWithImg().selectedConfig === undefined">Step 3</button>
</div>
<router-outlet></router-outlet>
<br>
<img *ngIf="currentModelWithImg().hasOwnProperty('modelImage')" [src]="currentModelWithImg().modelImage">
